/*
Error: Invalid CSS after "...r-height: 100px": expected "{", was ";"
        on line 88 of /home/ubuntu/workspace/Flixter/app/assets/stylesheets/master.css.scss

83: 
84: Since we know that our CSS files, are super-charged with SCSS powers we can use those superpowers to actually create a variable for the height of the footer. By doing so we can set the height of our footer in a single place.
85: 
86: Let's build a variable for the footer height and use it everywhere we want to adjust the height of our footer:
87: 
88: $footer-height: 100px;
89: 
90: html,
91: body {
92:   height: 100%;
93:   /* The html and body elements cannot have any padding or margin. *\/

Backtrace:
/home/ubuntu/workspace/Flixter/app/assets/stylesheets/master.css.scss:88
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:1115:in `expected'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:1110:in `tok!'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:655:in `block'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:649:in `ruleset'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:674:in `block_child'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:126:in `stylesheet'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:403:in `_to_tree'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.2.1/gems/sass-3.4.20/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.2.1/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.2.1/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...r-height: 100px\": expected \"{\", was \";\"\A         on line 88 of /home/ubuntu/workspace/Flixter/app/assets/stylesheets/master.css.scss\A \A 83: \A 84: Since we know that our CSS files, are super-charged with SCSS powers we can use those superpowers to actually create a variable for the height of the footer. By doing so we can set the height of our footer in a single place.\A 85: \A 86: Let's build a variable for the footer height and use it everywhere we want to adjust the height of our footer:\A 87: \A 88: $footer-height: 100px;\A 89: \A 90: html,\A 91: body {\A 92:   height: 100%;\A 93:   /* The html and body elements cannot have any padding or margin. */"; }
